* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    border: 2px solid rgb(49, 50, 110);
    background-color: aliceblue;
    overflow-x: hidden;
}

.container_main_center {
    width: 80%;
    margin: auto;
    /* border: 2px solid red; */
}